<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin || Skill Swap</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <style>
      header {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      header.logo a h1 {
        padding-top: 10px;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <h1>Skill Swap || Admin Panel</h1>
        </a>
      </div>
    </header>
  </body>
</html>
