<footer>
    <div class="mainFooter">
    <div class="footerItem">
        <a href="/"><i class="ri-home-2-line"></i></a>
    </div>
    <div class="footerItem">
        <a href="/users/skills"><i class="ri-magic-line"></i></a>
    </div>
    <div class="footerItem">
        <a href="/users/explore"><i class="ri-rss-fill"></i></a>
    </div>
    <div class="footerItem">
        <a href="/users/rewards"><i class="ri-trophy-line"></i></a>
    </div><div class="footerItem">
        <a href="/users/profile"><i class="ri-profile-line"></i></a>
    </div>
    </div>
</footer>
<script src="/js/script.js"></script>
</body>
</html>
